//为项目提供scss全局变量

//左侧菜单
$base-menu-width:260px;
$base-menu-background:rgb(212, 104, 229);
$base-menu-min-width:60px;
//logo
$base-menu-logo-height:80px;
$base-logo-title-fontsize:20px;

//顶部导航
$base-tabber-height:60px;